@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *, *::before, *::after {
        box-sizing: border-box;
        }
    * {
        margin: 0;
        }
    body {
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }
    img, picture, video, canvas, svg {
        display: block;
        max-width: 100%;
    }
    input, button, textarea, select {
        font: inherit;
    }
    p, h1, h2, h3, h4, h5, h6 {
        overflow-wrap: break-word;
        @apply text-secondary;
    }
    #root, #__next {
        isolation: isolate;
    }
    html {
        font-size: 62.5%;
        font-family: 'Supreme', 'Arial', 'Helvetica', 'sans-serif';
    }
    @font-face {
        font-family: 'Supreme';
        src: 
            url('supreme-bold-webfont.woff2') format('woff2'),
            url('supreme-extrabold-webfont.woff2') format('woff2'),
            url('supreme-light-webfont.woff2') format('woff2'),
            url('supreme-medium-webfont.woff2') format('woff2'),
            url('supreme-regular-webfont.woff2') format('woff2'),
            url('supreme-thin-webfont.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
}
@layer components {
    swiper-slide {
        @apply w-fit border-r-2 border-secondary border-dashed;
    }
    swiper-container{
        @apply border-t-2 border-secondary border-dashed;
    }
    .signage--hour {
        width: 2.4rem;
        height: 2.4rem;
    }
    [class^="signage"] {
        border-radius: 50%;
        z-index: 1;
    }
    [class^="signage"]:nth-child(2) {
        z-index: 0;
    }
    [class^="signage"].sunny {
        background-color: theme('colors.sunny-0');
    }
    [class^="signage"].sunny:nth-child(2) {
        background-color: theme('colors.sunny-100');
    }
    [class^="signage"].partlyCloudy {
        background-color: theme('colors.sunny-0');
    }
    [class^="signage"].partlyCloudy:nth-child(2) {
        background-color: theme('colors.cloudy');
    }
    [class^="signage"].cloudy {
        background-color: theme('colors.cloudy');
    }
    [class^="signage"].partlyRainy {
        background-color: theme('colors.cloudy');
    }
    [class^="signage"].partlyRainy:nth-child(2) {
        background-color: theme('colors.rainy');
    }
    [class^="signage"].rainy {
        background-color: theme('colors.rainy');
    }
}