@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *, *::before, *::after {
        box-sizing: border-box;
        }
    * {
        margin: 0;
        }
    body {
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }
    img, picture, video, canvas, svg {
        display: block;
        max-width: 100%;
    }
    input, button, textarea, select {
        font: inherit;
    }
    p, h1, h2, h3, h4, h5, h6 {
        overflow-wrap: break-word;
        @apply text-secondary;
    }
    #root, #__next {
        isolation: isolate;
    }
    html {
        font-size: 62.5%;
        font-family: 'Supreme', 'Arial', 'Helvetica', 'sans-serif';
    }
    @font-face {
        font-family: 'Supreme';
        src: 
            url('supreme-bold-webfont.woff2') format('woff2'),
            url('supreme-extrabold-webfont.woff2') format('woff2'),
            url('supreme-light-webfont.woff2') format('woff2'),
            url('supreme-medium-webfont.woff2') format('woff2'),
            url('supreme-regular-webfont.woff2') format('woff2'),
            url('supreme-thin-webfont.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
}
@layer components {
    swiper-slide {
        @apply w-fit border-r-2 border-secondary border-dashed;
    }
    swiper-container{
        @apply border-t-2 border-secondary border-dashed;
    }
    
    [class^="signage--"] {
        .signage {
            @apply rounded-full z-10;
        }
        .signage:nth-child(2) {
            @apply z-0;
        }
    }
    .signage--current {
        @apply flex flex-col items-center;
        .signage {
            @apply w-5 h-5 translate-y-4;
        }
        .signage:nth-child(2) {
            @apply -translate-y-4;
        }
    }
    .signage--hour {
        .signage {
            @apply w-3 h-3 translate-y-0;
        }
        .signage:nth-child(2) {
            @apply -translate-y-0
        }
    }
    .signage.sunny {
        background-color: theme('colors.sunny-0');
    }
    .signage.sunny:nth-child(2) {
        background-color: theme('colors.sunny-100');
    }
    .signage.partlyCloudy {
        background-color: theme('colors.sunny-0');
    }
    .signage.partlyCloudy:nth-child(2) {
        background-color: theme('colors.cloudy');
    }
    .signage.cloudy {
        background-color: theme('colors.cloudy');
    }
    .signage.partlyRainy {
        background-color: theme('colors.cloudy');
    }
    .signage.partlyRainy:nth-child(2) {
        background-color: theme('colors.rainy');
    }
    .signage.rainy {
        background-color: theme('colors.rainy');
    }
}